.search {
    padding: 100px;
}

.inputs {
    margin-top:5%;
    margin-bottom: 2%;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    border-radius: 40px;
    border: 3px solid #616161;
    padding: 1% 2%;
    width: 35%;
    height: fit-content;
}

.inputs input {
    border: none;
    font-size: 30px;
    font-family: "Montserrat Light";
    font-weight: 700;
    text-align: right;
    color: #616161;
    width: 90%;
}

.button {
    background-color: white;
    display: grid;
    place-items: center;
}
  
.inputs input:focus {
    outline: none;
}

.searchIcon {
    width: 28px;
    height: 28px;
}

.resOuter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent;
    border-color: #616161;
    font-family: "Montserrat Bold";
}

.resCt {
    color: black;
    font-family: "Montserrat Light";
    font-weight: 400;
    font-size: 30px;
}